{
    "n": "{{ letsencrypt_account.private_key.n }}",
    "e": "{{ letsencrypt_account.private_key.e }}",
    "d": "{{ letsencrypt_account.private_key.d }}",
    "p": "{{ letsencrypt_account.private_key.p }}",
    "q": "{{ letsencrypt_account.private_key.q }}",
    "dp": "{{ letsencrypt_account.private_key.dp }}",
    "dq": "{{ letsencrypt_account.private_key.dq }}",
    "qi": "{{ letsencrypt_account.private_key.qi }}",
    "kty": "{{ letsencrypt_account.private_key.kty }}"
}
