---
name: Integration
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # * is a special character in YAML so you have to quote this string
    # first of each month
    - cron: '0 0 1 * *'

jobs:
  integration:
    name: Integration
    uses: systemli/github-ansible-workflow/.github/workflows/ansible-integration-workflow.yaml@main
    with:
      distros: '[ "debian11", "debian10", "centos7" ]'
    secrets:
      galaxy-token: ${{ secrets.galaxy_api_key }}
